# Python SDK Agent Configuration Template

RPC_URL=http://127.0.0.1:8899
PROPHET_PROGRAM_ID=913Xp7ck53fMFTjGdKtjiwQXsBa4SfC9hce1SVGr3G9A
PAYER_KEYPAIR_PATH=~/.config/solana/id.json
QUOTE_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU